

    body {
        font-size: 17px;
        line-height: 1.4705882353;
        letter-spacing: -0.022em;
        font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
        background-color: rgb(6 6 6);
        color: white;
        font-style: normal;
    }


.nav-section{
    display: flex;
    padding-left: 300px;
    padding-right:300px ;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    margin-top: 10px;
   
    
}
.below-nav{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color:rgb(30, 30, 31) ;

}
.main-vid{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    
}

video::-webkit-media-controls {
    display: none !important;
}
video::-moz-media-controls {
    display: none !important;
}
video::-ms-media-controls {
    display: none !important;
}
video::media-controls {
    display: none !important;
}

.dis-flex{
    display: flex;
    justify-content: center;
}

.btn-buy{
    background-color: rgb(153, 81, 219);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: 1px solid rgb(52, 52, 122);
    border-radius: 20px;
}

.higlight{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right:200px ;
    background-color: rgba(33, 32, 32, 0.814);
    padding-top: 50px;
}
.film{
    display: flex;
    justify-content: space-between !important ;
    color: blueviolet;
    padding-top: 60px;
}

.phone-bg{
     padding-left: 100px;
    background-color:  rgba(33, 32, 32, 0.814);;
}
